# Nhớ tạo một file .env ở thư mục gốc project và điền các giá trị tương ứng. Đây là một ví dụ về nội dung của file .env:

# --- GENERAL CONFIG ---
NODE_ENV=development
PORT_BACKEND=3000
PORT_AI=8000

# --- DATABASE (MongoDB Atlas) ---
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/TourXport?retryWrites=true&w=majority

# --- AI CONFIG (OpenAI) ---
OPENAI_API_KEY=sk-proj-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# --- CRAWLER CONFIG ---
CRAWL_DELAY=2