# --- BACKEND ---
NODE_ENV=development
JWT_KEY=replace_with_a_long_random_secret
GOOGLE_CLIENT_ID=your-google-web-client-id.apps.googleusercontent.com

DISCORD_CLIENT_ID=your_discord_client_id
DISCORD_CLIENT_SECRET=your_discord_client_secret

OPENROUTESERVICE_API_KEY=your_openrouteservice_api_key
OPENWEATHERMAP_API_KEY=your_openweathermap_api_key

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# --- DATABASE ---
# If you dont wanna test, just comment out MONGO_URI_TEST
MONGO_URI_TEST=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?appName=Cluster0
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/tourxport?appName=Cluster0

# --- AI CONFIG ---
OPENAI_API_KEY=sk-your_openai_api_key

# --- CRAWLER ---
RAPIDAPI_KEYS=rapidapi_key_1,rapidapi_key_2,rapidapi_key_3
RAPIDAPI_HOST=travel-advisor.p.rapidapi.com
