# Nhớ tạo một file .env ở thư mục gốc project và điền các giá trị tương ứng. Đây là một ví dụ về nội dung của file .env:

# --- GENERAL CONFIG ---
PORT_BACKEND=3000
PORT_AI=8000

# --- BACKEND ---
NODE_ENV=development
JWT_EXPIRATION=3d
JWT_KEY=random_string_as_key_for_jwt_token_generation
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000

# --- DATABASE ---
# If you dont wanna test, just comment out MONGO_URI_TEST
MONGO_URI_TEST=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?appName=Cluster0
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/tourxport?appName=Cluster0

# --- AI CONFIG ---
OPENAI_API_KEY=sk-proj-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# --- CRAWLER CONFIG ---
CRAWL_DELAY=2