# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Scraped Data
data/*.json
data/.rapidapi_key_state.json
!data/.gitkeep

# IDEs
.vscode/
.idea/
